.timerButton {
	background-image: url(../images/mdpi/action_timerRunning_ON.png);
}

.timerButton:active {
	background-image: url(../images/mdpi/action_timer_ON.png) !important;
}

.timerButtonSelected {
	background-image: url(../images/mdpi/action_timerRunning_OFF.svg) !important;
}

.disabled.timerButton:active {
	background-image: url(../images/mdpi/action_timer_OFF.svg) !important;
}

.meterIcon {
	width: 42px !important;
	margin-right: 7px !important;
}
.meterIconInList {
	width: 55px !important;
	margin-right: 7px !important;
}

.attachmentIcon {
	width: 22px !important;
	height: 22px !important;
	margin: 4px 4px 4px 4px !important;
	padding: 2px 2px 2px 2px !important;
	border: 0px !important;
	box-shadow: none !important;
}

.failureCodeNoData {
	font-style:italic;
	color:#F0F0F0;
	margin: 0 8px 4px 0 !important;
	padding: 15px;
	font-size: 10px;
	pointer-events: none;
   	cursor: default;
}
.errorheader {
  background-color: red !important;
  font-size: 13px !important;
  text-align: center;
}

.actionButton {
	vertical-align: middle;
}