body {
	/* background: url(../images/mdpi/ibmLogoLight.svg) no-repeat center center; */
}

.mobile body {
	font-size: 13px;
}

.loginForm .loginUsername {
	margin-top: 20px;
	height: 30px;
}

.loginForm .errorMsg {
   background: url(../images/mdpi/status_error.svg) no-repeat left top;
   padding-left: 32px;
   margin-bottom: 18px;
}

.loginForm .loginPassword {
	margin-top: 18px;
	height: 30px;
	margin-bottom: 5% !important;
}

.loginForm .loginCopyright{
   border-spacing: 0 18px;
}

.loginForm .loginBtn {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 5px;
}

/* actionbar icons */
.mblHeading .mblToolBarButton {
	width: 40px !important;
	height: 40px !important;
}

.mblButton {
	height: 40px;
	padding: 2px 20px 2px 20px;
	margin: 4px 10px;
	border-radius: 3px;
}

.cancelScanIcon {
	background: url(../images/mdpi/header_split_cancel_OFF.svg) no-repeat;
	width: 32px !important;
	height: 32px;
	padding: 10px;
	margin-right: 5px;
	border: 0;
	vertical-align: middle;	
	background-position: center !important;
	box-shadow: none !important;
}

.cancelScanIcon:active {
	background-image: url(../images/mdpi/header_split_cancel_ON.png) !important;
	box-shadow: 0 0 5px 5px #B3C1C4 !important;
}

.reloadIcon {
	background: url(../images/mdpi/header_split_refreshLocal_OFF.svg) no-repeat center;
	min-width: 32px;
	min-height: 32px;
	padding: 10px;
	margin: 0px;
	border: none;
}

.refreshIcon {
	background: url(../images/mdpi/header_split_refreshLocal_OFF.svg) no-repeat center;
	min-width: 32px;
	min-height: 32px;
	padding: 10px;
	margin: 0px;
	border: none;
}

.lookupIcon {
	background: url(../images/mdpi/action_lookup_OFF.svg) no-repeat;
	width: 42px;
	height: 52px;
	padding: 10px;
	padding-left: 0px;
	margin: -7px;
	margin-left: -5px;
	margin-right: 7px !important;
	border: none;
}

.lookupIcon:active {
	background: url(../images/mdpi/action_lookup_ON.svg) no-repeat;
}
.disabled.lookupIcon:active {
	background: url(../images/mdpi/action_lookup_OFF.svg) no-repeat;
}

.deleteIcon:active {
	background: url(../images/mdpi/action_delete_ON.png) no-repeat;
}

.disabled.deleteIcon:active {
	background: url(../images/mdpi/action_delete_OFF.png) no-repeat;
}

.codeScanIcon {
	background: url(../images/mdpi/action_barcode_OFF.svg) no-repeat;
	width: 42px;
	height: 52px;
	padding: 10px;
	padding-left: 0;
	margin: -7px;
	/* Loc-In */
	/* margin-left: 0px; */
	/* Loc-Out */
	margin-right: 7px !important;
	border: 0;
	vertical-align: middle;	
	background-position: center !important;
	box-shadow: none !important;

}
.codeScanIcon:active {
	background: url(../images/mdpi/action_barcode_ON.svg) no-repeat;
	box-shadow: 0 0 5px 5px #def5fa !important;
}

.disabled.codeScanIcon:active {
	background: url(../images/mdpi/action_barcode_OFF.svg) no-repeat;
}
  
.imageButton {
    width: 52px;
    height: 52px;
    padding: 10px !important;
    margin: 4px -4px 4px -2px;
    border: none;
}

.mblSimpleDialog {	
	width: 275px;
}

/* begin date-time picker dialog */
.dialogDateTimeLookup {
   width: 320px;
}

.mblValuePicker {
   height: 130px;
   padding-bottom: 0;
}

/* end date time picker dialog */



/* begin date picker */
.datePicker {
   display: block;
   width: 300px;
   margin: 0 0 20px 0px;
}

.datePicker .mblValuePickerSlot {
    width: 70px ;
    margin-left: 20px;
}

.datePicker .mblValuePickerSlotInputArea {
   height: 50px;
}

/* end time picker */


/* start time picker */
.timePicker {
   display: block;
   width: 300px;
   margin: 0 0 20px 0px;
}

.timePicker .mblValuePickerSlot {
    width: 70px !important;
    margin-left: 20px !important;
}

.timePicker .mblValuePickerSlotInputArea {
   height: 50px;
}

.timePicker .mblToolBarButtonText {
   height: 30px;
}
/* end time picker */


/* begin duration picker */
.dialogDurationLookup {
   display: block;
   width: 320px;
   margin: 0;
}

.dialogDurationLookupButtonBar {
   display: block;
   margin-left: -20px;
}

.durationPicker {
   display: block;
   width: 200px;
   margin: 0px 0px 20px 45px
}

.durationPicker .mblValuePickerSlot {
    width: 70px !important;
    margin-left: 20px;
}

.durationPicker .mblValuePickerSlotInputArea {
   height: 50px;
}

.durationPicker .mblToolBarButtonText {
   padding: 20px;
}
/* end duration picker */


/* date time pickers */
.mblDomButtonGrayPlus {
   background: url(../images/mdpi/picker_plus_OFF.png) no-repeat center center;
}

.mblDomButtonGrayPlus:active {
   background: url(../images/mdpi/picker_plus_ON.png) no-repeat center center;
}

.disabled.mblDomButtonGrayPlus:active {
   background: url(../images/mdpi/picker_plus_OFF.png) no-repeat center center;
}

.mblDomButtonGrayMinus {

	background: url(../images/mdpi/picker_minus_OFF.png) no-repeat center center;
}

.mblDomButtonGrayMinus:active {
	background: url(../images/mdpi/picker_minus_ON.png) no-repeat center center;
}

.disabled.mblDomButtonGrayMinus:active {
	background: url(../images/mdpi/picker_minus_OFF.png) no-repeat center center;
}

.relatedRecords {
	font-weight: bold;
}

/* Loc-In: Add css for textLookupNoScan */

.textappearance-smaller {
	font-size: 90%;
}

.right {
	text-align: right;
}
.textLookupNoScan {
	width: 65% !important;
}

.storeRoomHeaderContainer {
	/* margin-top: -2px ; */
	margin-bottom: -5px ;
	height: auto;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: right;
	background: #325c80;
}

.storeRoomHeader{
	color: white;
	font-family: "IBM Plex Sans" !important;
}

.listItemMargin {
	/* margin-top: 5px;
	margin-bottom: 5px; */
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: left;
	/* overflow-wrap: break-word !important;
	word-wrap: break-word !important;
	hyphens: auto !important; */

	/* text-overflow: clip !important; */
	/* white-space: normal !important; */
}

/* .descriptionListItem {
	font-size: 1rem;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.3;
	font-weight: bolder;
	white-space: normal !important; */
	
	/* -webkit-line-clamp: 2 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; */
/* } */
.descriptionListItem {
	font-size: 1rem;
	line-height: 1.3;
	font-weight: bolder;
	white-space: nowrap !important;
}

/* .listItemTiltle{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bolder;
} */
.listItemTiltle {
	margin-top: 2px;
	margin-bottom: 2px;
}

.checkImage{
	text-align: right !important;
	margin: 0px 0px !important;
}

.detailDescriptionItem {
	font-size: 1.3rem;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.3;
	font-weight: bolder;
	white-space: normal !important;
}

.detailItemTitle {
	margin-top: 20px;
}

.detailItem {
	margin-top: 5px;
	font-weight: bolder;
}

.blankContainer{
	background-color: #e6e6e6 !important;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100% !important;
	height: 40px !important;
}

.inputCountContainer{
	padding-left: 20px;
}

.inputCountLabel{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	color: black !important;
	font-weight: 900 !important;
}

.inputCountText{
	width: 100% !important;
	margin-bottom: 20px;
}

.detailButtonContainer{
	padding-left: 5px;
	padding-right: 5px;
}

.mblUpdateButton {
	width: 100%;
	height: 50px;
	font-size: 1rem;
	color: #ffffff !important;
	font-weight: bold;
	background-color: #3e3f3e !important;
	border-color:#3e3f3e !important; 
	border-radius: 10px !important;
}

.mblUpdateButton:active {
	width: 100%;
	height: 50px;
	font-size: 1rem;
	border: 0 !important;
	background-image: none !important; 
	background-color: #000 !important; 
	box-shadow:none !important;
	border-radius: 10px !important;
}

.binRange {
	width: 50% !important;
	text-overflow: initial !important;
}

.binRangeContainer {
	padding-right: 0px !important;
	margin-right: 0px !important;
}

.recountlDescription {
	width: 70% !important;
}
/* Loc-Out: Add css for textLookupNoScan */

.errorIndicator {
	padding: 0 20px 0 15px;
	margin: 20px;
	margin: 5px;
}

.errorIndicator > div {
	padding: 3px 25px;
}

.mblCheckBox {
	font-size: 200%;
	margin-top: 2px;
	-webkit-transform: translatey(0.60em);
}

.eiError {
   background: url(../images/mdpi/status_error.svg) no-repeat 5px 5px #efefef;
}

.dialogButton {
	width : 115px !important;
}

.mblTextArea {
	font-size: 17px !important;
}