<component name="libraryTable">
  <library name="config">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/build/config/app_artifacts_previous.zip!/" />
      <root url="jar://$PROJECT_DIR$/build/config/app_artifacts_previous_previous.zip!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>